/* -------- MEDIA QUERY MOBILE LANDSCAPE-------- */

@media only screen and (max-width: 768px){

	/* MAIN */

	header{
		.nav-main-tablet {
			padding: 15px 0;

			ul{
				margin-bottom: 0;
				margin-top: 10px;
			}
		}

		/* GENERAL HEADER */

		.nav-general-tablet {
			padding: 15px 0;

			ul{
				margin-bottom: 0;
				margin-top: 10px;
			}
		}
	}

	/* MAIN */

	.main {
		.main__textos{
			top: 230px;
			margin-left: 10%;
		}
	}

	/* QUIENES SOMOS */

	.unetenos{

		.unetenos__1{
			font-size: 30px;
		}
	
		.unetenos__2{
			font-size: 50px;
		}
	}

	/* SERVICIOS */

	.lista__servicios{
		.lista__servicios__grupo{
		
		width: 250px;
		}
	}

	.hagamoslo{

		.hagamoslo__1{
			font-size: 30px;
		}
	
		.hagamoslo__2{
			font-size: 50px;
		}
	}

	/* CLIENTES */

	.clientes{
		.clientes__lista img{
			width: 150px;
		}
	}

	.proyectos{
		.proyectos__lista img{
			width: 250px;
			}
		}

	.confiaron{

		.confiaron__1{
			font-size: 30px;
		}
	
		.confiaron__2{
			font-size: 50px;
		}
	}

	/* CONTACTO */

	.contacto{
		.row {
		display: flex;
		flex-direction: column;
		align-items: center;

			.map {
				width: 100%;
			}

			form{
				padding: 0;
				padding-left: 30px;

				div h2{
					margin-left: 0;
				}
			}

			.form-group {
				button {
					height: 50px;
				}

				.btn{
					margin-top: 20px;
				}
			} 
		}
	}

	.teEsperamos{

		.teEsperamos__1{
			font-size: 30px;
		}
	
		.teEsperamos__2{
			font-size: 50px;
		}
	}

}