/* -------- MEDIA QUERY CELLPHONE-------- */

@media only screen and (max-width: 500px){

	h1, h2 {
		font-size: 40px;
	}

	.mainBody{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto); 
	grid-template-areas: 	"header   header   header"
							"section  section  section"
							"footer   footer   footer"
	}

	/* MAIN HEADER */

	header {

		.nav-main-tablet {
		padding: 10px 0;
		width: 100%;
		z-index: 100;

			ul{
				margin-bottom: 0;
			}

			a{
				font-size: 13px;
			}

			img{
				height: 50px;
			}
		}

		/* GENERAL HEADER */

		.nav-general-tablet{
			padding: 10px 0;

			ul{
				margin-bottom: 0;
			}

			a{
				font-size: 13px;
			}

			img{
				height: 50px;
			}
		}
	}

	/* MAIN */

	.main {
		.main__textos{
			margin-left: 0;
			top: 200px; 
			z-index: 100;

			h1{
				font-size: 80px;
			}
		}
	}

	/* QUIENES SOMOS */

	.quienesSomos{

		.quienesSomos__textos p{
			width: 350px;
		}
 
	}

	.equipo{
		.equipo__fotos__empleado {
			width: 200px;
			height: 370px;

			img{
				width: 200px;
			}

			p{
				font-size: 14px;
			}

			.equipo__fotos__empleado__descrip {
				display: none;
			}
		}
	}

	/* SERVICIOS */

	.servicios{
		.servicios__textos {
			p{
				width: 350px;		
				margin-left: 50px;
			}
		} 
	}

	/* CLIENTES */

	.clientes{
		.clientes__lista img{
			width: 130px;
		}
	}

	.proyectos{
		.proyectos__lista img{
			width: 150px;
			vertical-align: top;
			transition: all 0.5s;

			&:hover{
				transform: scale(1.4);
			}
		}
	}

	/* CONTACTO */

	.contacto{
		.row {			
			.map {
				width: 490px;
			}

			form{
				width: 490px;
				padding: 0;
				padding-left: 30px;
			}

			.form-group {
				button {
					height: 50px;
				}

				.btn{
					margin-top: 20px;
				}
			} 
		}
	}
}